doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    include ../../public/jade/mixins.jade
    link(rel="stylesheet" type="text/css" href="styles/main.css")
    title Sign up

  body
    .headings
      h1 Sign up

    +error(err)

    .signup
      form#form-js(action='/signup', method='post')
        label Name
        input(type='text', name='name', required)
        br
        label Email
        input(type='text', name='email', required)
        br
        label id (optional)
        input(type='text', name='user_id')
        br
        .submit
          button#button-js(type='submit', disabled='disabled') Sign up!

    +scripts
    script(type='text/javascript' src='scripts/main.js')
