doctype html
html(lang='en')
  head
    include ../../public/jade/mixins.jade
    link(rel="stylesheet" type="text/css" href="styles/main.css")
    title Signup

  body#body-js
    .headings
      h1 Signup

    .signup
      form(action='/signup', method='post')
        label Name:
        input(type='text', name='name')
        br
        label Email:
        input(type='text', name='email')
        br
        label id:
        input(type='text', name='id')
        br
        input(type='submit')

    +scripts
    script(type='text/javascript' src='scripts/main.js')
