doctype html
html(lang='en')
  head
    title Homepage

  body#body-js
    // Some of this is not used at the moment...
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
    script(src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.6/underscore-min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js")
    // end
    script(type='text/javascript' src='/scripts/main.js')
    link(rel="stylesheet" type="text/css" href="/styles/main.css")

    .headings
      h1 Success!

    p
     | Your user id is #{id} and you can access your page 
     a(href="/user/" + id) here
    p
      If you forget this url you will lose all of your data
    p
      One day you may be able to retrieve it somehow but for now you cannot
