doctype html
html(lang='en')
  head
    include ../../public/jade/mixins.jade
    link(rel="stylesheet" type="text/css" href="styles/main.css")
    title #{name}

  body#body-js

    .headings
      h1 Welcome #{name}

    .messages
      +error(err)
      +success(suc)

    .add_time
      form(action="/user/#{user_id}", method='post')
        label Activity
        input(type='text', name='activity')
        br
        label Start time
        input(type='datetime-local', name='start_time')#js-start
        br
        label End time
        input(type='datetime-local', name='end_time')#js-end
        br
        .submit
          button#button-js(type='submit', disabled='disabled') Add time

    +scripts
    script(type='text/javascript' src='scripts/main.js')
