doctype html
html(lang='en')
  head
    title Homepage

  body#body-js
    // Some of this is not used at the moment...
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
    script(src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.6/underscore-min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js")
    // end
    script(type='text/javascript' src='/scripts/main.js')
    link(rel="stylesheet" type="text/css" href="/styles/main.css")

    .headings
      h1 Time!

      h3 A simple webapp to help track it, and perhaps use it better

    ul.links
      li 
        a(href='/blog') Time blog
      li 
        a(href='/signup') Signup
      li 
        a(href='google.com') Google
